<mat-toolbar color="primary">
  <app-toolbar />
</mat-toolbar>

<div class="body">
  <div class="defect-library-page">
    <nav class="breadcrumb" aria-label="Breadcrumb">
      <a (click)="goToHome()">{{ 'BREADCRUMB.HOME' | translate }}</a>
      <span class="breadcrumb-sep">&gt;</span>
      <a routerLink="/libraryDefects">{{ 'BREADCRUMB.DEFECT_LIBRARY' | translate }}</a>
      <span class="breadcrumb-sep">&gt;</span>
      <span class="breadcrumb-current">{{ 'DEFECT_BC.FORM.TITLE' | translate }}</span>
    </nav>
    <app-add-defect-library-entry />
  </div>
</div>
